<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    	<link rel="icon" href="/assets/images/icon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">	
		<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/jquery-ui.css" rel="stylesheet">
    	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">	
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script src="/assets/javascript/app.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Noto+Serif|Righteous" rel="stylesheet">
		<title>Radio Freedom news scraper</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light fixed-top">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-list">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/saved">Saved Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/api/articles">Api</a>
              </li>
            </ul>
          </div>
        </nav>
		<div class="mx-auto topbar">
    		<div class="nav justify-content-center topbar">
        		<a href="/"><img id="ff" src="/assets/images/logo.png"></a>
   			</div>    
		</div>
		<div class="jumbotron" id="page-content">
			{{{ body }}}
		</div>
		<footer>
  			</span>© Stepan Nelasov 2019<span class="divider">|</span><a target="_blank" href="https://github.com/Stepos36/rferl-scraper">Github</a>
		</footer>
	</body>
</html>



