table .button-green {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 7px 10px;
    border: 2px solid #024e07;
    border-radius: 100px;
    background: #03930d;
    background: -webkit-gradient(linear, left top, left bottom, from(#03930d), to(#024e07));
    background: -moz-linear-gradient(top, #03930d, #024e07);
    background: linear-gradient(to bottom, #03930d, #024e07);
    -webkit-box-shadow: #04b010 0px 0px 2px 3px;
    -moz-box-shadow: #04b010 0px 0px 2px 3px;
    box-shadow: #04b010 0px 0px 2px 3px;
    text-shadow: #012e04 1px 0px 1px;
    font: normal normal bold 12px arial;
    color: #ffffff;
    text-decoration: none;
    outline: none;
}
table .button-green:hover,
table .button-green:focus {
    border: 2px solid #025c08;
    background: #04b010;
    background: -webkit-gradient(linear, left top, left bottom, from(#04b010), to(#025e08));
    background: -moz-linear-gradient(top, #04b010, #025e08);
    background: linear-gradient(to bottom, #04b010, #025e08);
    color: #ffffff;
    text-decoration: none;
    outline: none;
}
table .button-green:active {
    background: #024e07;
    background: -webkit-gradient(linear, left top, left bottom, from(#024e07), to(#024e07));
    background: -moz-linear-gradient(top, #024e07, #024e07);
    background: linear-gradient(to bottom, #024e07, #024e07);
    outline: none;
}

table .button-red {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 7px 10px;
    border: 2px solid #a60e10;
    border-radius: 100px;
    background: #ff1b1e;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff1b1e), to(#a60e10));
    background: -moz-linear-gradient(top, #ff1b1e, #a60e10);
    background: linear-gradient(to bottom, #ff1b1e, #a60e10);
    -webkit-box-shadow: #ff2024 0px 0px 2px 3px;
    -moz-box-shadow: #ff2024 0px 0px 2px 3px;
    box-shadow: #ff2024 0px 0px 2px 3px;
    text-shadow: #62090a 1px 0px 1px;
    font: normal normal bold 10px arial;
    color: #ffffff;
    text-decoration: none;
    outline: none;
}
table .button-red:hover,
table .button-red:focus {
    border: 2px solid ##c31113;
    background: #ff2024;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff2024), to(#c71113));
    background: -moz-linear-gradient(top, #ff2024, #c71113);
    background: linear-gradient(to bottom, #ff2024, #c71113);
    color: #ffffff;
    text-decoration: none;
    outline: none;
}
table .button-red:active {
    background: #a60e10;
    background: -webkit-gradient(linear, left top, left bottom, from(#a60e10), to(#a60e10));
    background: -moz-linear-gradient(top, #a60e10, #a60e10);
    background: linear-gradient(to bottom, #a60e10, #a60e10);
    outline: none;
}

table .button-blue {
    margin-top: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 7px 10px;
    border: 2px solid #1c5cca;
    border-radius: 100px;
    background: #2e96ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#2e96ff), to(#1c5cca));
    background: -moz-linear-gradient(top, #2e96ff, #1c5cca);
    background: linear-gradient(to bottom, #2e96ff, #1c5cca);
    -webkit-box-shadow: #2a8aff 0px 0px 2px 3px;
    -moz-box-shadow: #2a8aff 0px 0px 2px 3px;
    box-shadow: #2a8aff 0px 0px 2px 3px;
    text-shadow: #123a7e 1px 0px 1px;
    font: normal normal bold 10px arial;
    color: #ffffff;
    text-decoration: none;
}
table .button-blue:hover,
table .button-blue:focus {
    border: 2px solid ##2373fc;
    background: #37b4ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#37b4ff), to(#226ef2));
    background: -moz-linear-gradient(top, #37b4ff, #226ef2);
    background: linear-gradient(to bottom, #37b4ff, #226ef2);
    color: #ffffff;
    text-decoration: none;
}
table .button-blue:active {
    background: #1c5cca;
    background: -webkit-gradient(linear, left top, left bottom, from(#1c5cca), to(#1c5cca));
    background: -moz-linear-gradient(top, #1c5cca, #1c5cca);
    background: linear-gradient(to bottom, #1c5cca, #1c5cca);
}


hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
  }